/*


    --base-font: 'Inter', sans-serif;
    --heading-font: 'Poppins', sans-serif;
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font Weight
default: 400
Medium: 500 
Semi-bold: 600 
Bold: 700

- Line Height
default : 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
large: 1.8

-Letter Spaceing 
-0.5
0.75

--- 02 COLORS
    --base-color: #5b5675;
    --heading-color: #141125;
    --primary-color: #5138ee;
    --light-color: #f8f7fc;
    --yellow-color: #ffc800;
    --border-color: #edebfd;
    #e7e4fb
    
- Primary :  
- Tints :

- Shades :

- Acents : 
- Grays : 
#888
#767676  (Lightest grey allowed on #FFF)
#6f6f6f  (Lightest grey allowed on #fdf2e9)
#555
#333

--- 03 SHADOWS
1rem 0 6rem rgb(81 56 238 / 10%)

--- 04 BORDER-RADIUS
Default: 5px

--- 05 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 * 100 = 62.5% */
  /* Percentage Of User's Browser Font-size Setting*/
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  /* line-height: 1; */
  font-weight: 400;
  color: #5b5674;
  overflow-x: hidden;
}

ul li {
  list-style: none;
}
a,
a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
}
img {
  max-width: 100%;
  display: inline-block;
}
/*******************************/

/* GENERAL COMPONENTS */

/*******************************/
.container {
  max-width: 140rem;
  /* padding: 0 4rem; */
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  /* margin-bottom: 9.6rem; */
}
.grid--center-v {
  align-items: center;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.btn {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  background-color: #f3f1fe;
  color: #5138ee;
  font-weight: 700;
  font-size: 1.6rem;
  border-radius: 5px;
  transition: 0.5s all;
}
.btn:hover {
  color: #fff;
  background-color: #5138ee;
}

.reverse-wt-cta {
  /* display: block; */
  width: 100%;
  padding: 1.6rem 0;
  border-radius: 0;
  background-color: #fff;
}

.sub-title {
  display: inline-block;
  padding: 0.8rem 2rem;
  background-color: #f3f1fe;
  color: #5138ee;
  font-size: 1.6rem;
  line-height: 1.4;
  font-weight: 600;
  border-radius: 5px;
  text-transform: capitalize;
  letter-spacing: 0.75px;
  margin-bottom: 1.5rem;
}
.description {
  font-size: 1.6rem;
  line-height: 1.8;
}

.feature-list-items {
  display: flex;
  flex-direction: column;
  row-gap: 1.4rem;
}
.feature-item {
  display: flex;
  align-items: center;
  column-gap: 1.8rem;
  font-size: 1.8rem;
  color: #5b5674;
  font-weight: 500;
}
.feature-icon {
  display: block;
  background-color: #f3f1fe;
  color: #5138ee;
  width: 2.4rem;
  height: 2.4rem;
  text-align: center;
  border-radius: 50%;
}
.feature-icon i {
  font-size: 1.4rem;
  font-weight: 700;
}

.section-title {
  font-size: 4.2rem;
  color: #141125;
  line-height: 1.25;
}

/* HELPER CLASSES */

.mr-16 {
  margin-right: 1.6rem !important;
}
.mt-16 {
  margin-top: 1.6rem !important;
}
.mt-24 {
  margin-top: 2.4rem !important;
}
.mt-32 {
  margin-top: 3.2rem !important;
}
.mt-48 {
  margin-top: 4.8rem !important;
}
.mt-56 {
  margin-top: 5.6rem !important;
}
.mt-64 {
  margin-top: 6.4rem !important;
}
.mb-16 {
  margin-bottom: 1.6rem !important;
}
.mb-32 {
  margin-bottom: 3.2rem !important;
}
.mb-48 {
  margin-bottom: 4.8rem !important;
}

.pad-l-54 {
  padding-left: 5.4rem !important;
}
.pad-r-54 {
  padding-right: 5.4rem !important;
}
.center-text {
  text-align: center !important;
}

.left-text {
  text-align: left !important;
}

.mg-auto {
  margin: auto !important;
}
strong {
  font-weight: 500;
}
