/* ====== Header ====== */

.header-section {
  background-color: #fff;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #edebfd;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}
.main-logo {
  max-width: 100%;
}
.nav {
  flex: 1;
  margin-left: 9.8rem;
}
.nav-list {
  display: flex;
}
.nav-list-item a {
  position: relative;
  display: block;
  padding: 1rem;
  text-transform: capitalize;
  margin-left: 4.4rem;
  font-size: 1.8rem;
  color: #5b5675;
  font-weight: 600;
  /* transition: all 0.5s ease-in-out; */
}
.nav-list-item a:hover {
  color: #5138ee;
}

.nav-list-item a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2px;
  color: red;
}

.cta-icon {
  margin-left: 5px;
}

/* ====== Hero Section ====== */

.hero-section {
  padding: 9.6rem 0;
  position: relative;
}
.hero-section div:first-child {
  align-items: center;
}
.hero-img {
  max-width: 100%;
}

.titles-box h1 {
  font-size: 6.2rem;
  line-height: 1.25;
  color: #141125;
}

.cta-box {
  display: flex;
  column-gap: 1.6rem;
}
.cta-box a:first-child {
  background-color: #5138ee;
  color: #fff;
}
.cta-box a:first-child:hover {
  background-color: #edebfd;
  color: #5138ee;
}
.shape {
  position: absolute;
  max-width: 100%;
}
.hero-dots-shape {
  top: 20%;
  left: 7%;
  animation: fadedwn 20s infinite linear;
}
.hero-close-shape {
  top: 35%;
  right: 43%;
  animation: circle 20s infinite linear;
}
.hero-tringle-shape {
  bottom: 10%;
  left: 2%;
  animation: tringle 20s infinite linear;
}

.hero-section .description {
  max-width: 49rem;
}

/* ====== Featured Section ====== */
.feature-section {
  padding: 23rem 0 12rem;
}

.feature-box {
  max-width: 75rem;
}

.section-title span {
  color: #5138ee;
  padding: 1rem;
  background: url("../images/section-title-circle.png") no-repeat center/100%
    100%;
}
.side-bg {
  position: absolute;
  top: 43%;
  max-width: 100%;
  z-index: -1;
}

.sponser-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 9.6rem;
  row-gap: 3.2rem;
  align-items: center;
  justify-content: center;
}
.sponser-item {
  filter: grayscale(1) opacity(0.4);
  transition: all 0.5s ease-in-out;
}
.sponser-item:hover {
  filter: none;
}
.sponser-img {
  max-width: 118%;
}

/* ====== Special Section ====== */
.special-section {
  position: relative;
  /* padding: 9.6rem 0; */
}
.special-section .titles-box {
  max-width: 80rem;
  margin: auto;
}

.box-item {
  /* max-width: 80%; */
  display: flex;
  flex-direction: column;
  /* gap: 2.4rem; */
  border: 1px solid #edebfd;
  border-radius: 5px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.box-item:hover {
  border: 1px solid transparent;
  box-shadow: 1rem 0 6rem rgb(81 56 238 / 10%);
}
.special-section .content-box {
  padding: 3.2rem 2rem 1.6rem;
  border-bottom: 1px solid #edebfd;
  background: #fff;
}
.special-content {
  display: grid;
  column-gap: 3.2rem;
}
.special-icon {
  display: inline-block;
  position: relative;
  font-size: 6.4rem;
  color: #5138ee;
  font-weight: 500;
}

.special-icon::after {
  content: "";
  position: absolute;
  width: 7.4rem;
  height: 7.4rem;
  left: -2.5rem;
  bottom: 2rem;
  background-color: #edebfd;
  border-radius: 50%;
  z-index: -1;
}

.special-title {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: 600;
  color: #141125;
  margin-bottom: 1.2rem;
  transition: all 0.5s ease-in-out;
}
.special-title:hover {
  color: #5138ee;
}

.special-description {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
}

/* ====== What We Provide Section ====== */

.What-provides-section {
  padding: 9.6rem 0 0;
}
.provides-section {
  display: grid;
  grid-template-columns: 60fr 40fr;
  align-items: center;
}
/* animation: fadedwn 20s infinite linear;
animation: circle 20s infinite linear;
animation: tringle 20s infinite linear; */
.feature-dots-shape {
  top: 20rem;
  left: 15rem;
  animation: fadedwn 20s infinite linear;
}
.feature-close-shape {
  top: 17rem;
  right: 45rem;
  animation: circle 20s infinite linear;
}
.feature-tringle-shape {
  bottom: -10rem;
  left: 2rem;
  animation: tringle 20s infinite linear;
}
.feature-circle-shape {
  bottom: -10rem;
  right: 15rem;
  animation: tringle-reverse 20s infinite linear;
  z-index: -1;
}
/* ====== Counter Section ====== */

.counter-section {
  padding: 0 0 9.6rem 0;
}

.counter {
  position: relative;
  text-align: center;
  width: 100%;
  padding: 6.4rem 4.8rem;
  border-radius: 5px;
  color: #fff;
  /* background: #5138ee url("../images/counter-bg.png") no-repeat; */
  /* background-color: #5138ee; */
  /* background: #5138ee url(/images/counter-bg.png) no-repeat; */
  background: url(../images/counter-bg.png) no-repeat;
  background-color: #5138ee;
  transform: translatey(20rem);
  z-index: 999;
}

.counter-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  position: relative;
}

.counter-number::before {
  content: "";
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  top: -0.5rem;
  left: 8rem;
  /* transform: translate(-1rem, -1rem); */
  background-color: #fff;
  border-radius: 50%;
}

.counter-number::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  /* transform: translate(-px, -1px); */
  transform: scale(0);
  top: -1.2rem;
  left: 7.3rem;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}
.counter-box:hover .counter-number::after {
  transform: scale(1);
  /* width: 1.5rem;
  height: 1.5rem;
  transform: translate(-6.5px, -5px); */
}

.counter-number {
  font-size: 4rem;
  font-weight: 600;
}
.counter-text {
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: 500;
}

.counter-circle-shape {
  bottom: 2rem;
  right: 50rem;
  animation: slide-left 5s linear;
}

/* ====== Core Features Section ====== */

.core-feature-section {
  padding: 25rem 0;
  background-color: #f8f7fc;
  position: relative;
  z-index: 1;
}
.core-feature-section .grid {
  align-items: center;
}

.core-feature-section .text-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.4rem;
}

.box-items {
  display: flex;
  gap: 2.4rem;
  /* flex-direction: column; */
}
.core-icon {
  flex: none;
  color: #5138ee;
  text-align: center;
  line-height: 6.8rem;
  border-radius: 7px;
  font-size: 3.4rem;
  width: 6rem;
  height: 6rem;
  background-color: #e7e4fb;
  transition: all 0.5s ease-in-out;
}
.box-items:hover .core-icon {
  color: #fff;
  background-color: #5138ee;
}

.core-title {
  font-size: 2rem;
  line-height: 1.6;
  color: #141125;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.core-feature-section .cta-box .Core-btn {
  background-color: #fff;
  color: #5138ee;
  border: 2px solid #5138ee;
}
.core-feature-section .cta-box .Core-btn:hover {
  background-color: #5138ee;
  color: #fff;
}
.image-box {
  width: 100%;
  position: relative;
}
.core-img {
  position: absolute;
  box-shadow: 10px 0 60px rgb(81 56 238 / 10%);
  border-radius: 10px;
}
.core-img-1 {
  animation: fadeup 5s infinite linear;
  top: -25rem;
  left: 5rem;
  z-index: 1;
}
.core-img-2 {
  animation: slide-righ 5s infinite linear;
  top: -20rem;
  left: 30rem;
  z-index: 2;
}
.core-img-3 {
  animation: slide-left 5s infinite linear;
  top: 12rem;
  left: 19rem;
  z-index: 4;
}
.core-img-4 {
  animation: fadedwn 5s infinite linear;
  top: 4rem;
  left: 36rem;
  z-index: 5;
}
.core-img-5 {
  animation: slide-z 5s infinite linear;
  top: -5rem;
  left: 52rem;
  z-index: 3;
}

.core-dots-shape {
  top: 20rem;
  left: 15rem;
  animation: fadedwn 20s infinite linear;
}
.core-close-shape {
  top: 28rem;
  right: 45rem;
  animation: circle 20s infinite linear;
}
.core-tringle-shape {
  bottom: 15rem;
  left: 2rem;
  animation: tringle 20s infinite linear;
}
.core-circle-shape {
  bottom: 8rem;
  right: 15rem;
  animation: tringle-reverse 20s infinite linear;
  z-index: -1;
}

/* ====== Services Section ====== */
.services-section {
  padding: 9.6rem 0;
  position: relative;
}

.services-section .section-title {
  max-width: 70rem;
  margin: auto;
}

.services-list-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 3.2rem; */
  background-color: #f8f7fc;
}
.services-list-items {
  margin-bottom: 5.4rem;
}
.services-item {
  display: inline-block;
  font-size: 2rem;
  color: #141125;
  font-weight: 600;
  padding: 2rem 3.2rem;
  border-color: #5138ee;
}

.services-section .active {
  border-top: 2px solid;
  background-color: #ececec;
  color: #5138ee;
}
.services-grid {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 4.2rem;
  align-items: center;
  padding: 0 5.4rem;
}
.services-content-box {
  max-width: 43rem;
}
.services-content-title {
  font-size: 2.8rem;
  color: #141125;
  line-height: 1.25;
}

.service-link {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  padding-bottom: 1px;
  color: #5138ee;
  border-bottom: 1px solid transparent;
  transition: border 0.2s linear;
  cursor: pointer;
}

.service-link:hover {
  border-bottom: 1px solid #5138ee;
}

.service-link-icon {
  margin-left: 6px;
}
.services-bg {
  position: absolute;
  top: 28rem;
  z-index: -1;
}

/* ====== CTA Section ====== */

.cta-section {
  padding: 9.6rem 0;
}
.cta-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
  background-color: #5138ee;
  padding: 6.4rem 12rem;
  border-radius: 10px;
}
/* .cta-content-box {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
} */

.cta-content .sub-title {
  background-color: #5d46ef;
  color: #fff;
  letter-spacing: -0.5px;
  flex: 0;
}

.cta-title {
  font-size: 4.2rem;
  line-height: 1.25;
  color: #fff;
}

.cta-btn-box {
  display: flex;
}

.chek-box-container {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}

.cta-btn-box {
  position: relative;
}
.cta-btn-box input {
  flex: 1;
  padding: 2.4rem;
  border-radius: 5px;
  border: none;
  outline: none;
}
.cta-btn-box input[placeholder] {
  font-size: 1.8rem;
  /* color: #e7e4fb; */
}
.cta-btn-box button {
  position: absolute;
  background-color: #141125;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 1.6rem 2.4rem;
  right: 2rem;
  top: 1.1rem;
  cursor: pointer;
  text-transform: capitalize;
}

.cta-btn-icon {
  margin-left: 2px;
}
.ckeck-box {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  color: #fff;
}

.ckeck-box label {
  /* border: 1px solid #141125; */

  font-size: 1.6rem;
}

.cta-img {
  position: absolute;
  top: -5rem;
  margin-left: 5rem;
  z-index: 3;
}

.circle-cta-shape {
  animation: cta-circle 20s infinite linear;
  top: 6rem;
  right: 15rem;
  z-index: 1;
}
.dots-cta-shape {
  animation: cta-dots 20s infinite linear;
  bottom: 6rem;
  right: 50rem;
  z-index: 2;
}

/* ====== Feedback Section ====== */

.feedback-section {
  padding: 6.4rem 0 9.6rem 0;
  position: relative;
}

.feedback-section .grid {
  column-gap: 9.6rem;
  align-items: center;
}

.feedback-bg {
  /* width: 44vw; */
  width: 50%;
  top: -32rem;
  left: -6rem;
  z-index: -1;
}

.feedback-testimonial-box {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 3.2rem;
}

.feedback-testimonial-icon {
  font-size: 4.4rem;
  width: 6.6rem;
  height: 6.6rem;
  border-radius: 50%;
  background-color: #5138ee;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.author-name {
  font-size: 2.4rem;
  line-height: 1.25;
  margin-bottom: 1rem;
  color: #141125;
}

.author-job {
  color: #5138ee;
  font-size: 1.6rem;
  font-weight: 500;
}

.feedback-descriptions {
  max-width: 60rem;
  padding-bottom: 4.4rem;
  border-bottom: 1px solid #e7e4fb;
}

.feedback-description {
  font-size: 2.4rem;
}

.feedback-description b {
  color: #5138ee;
}

.polits {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 4.2rem;
  /* margin-left: 2.4rem; */
}

.polit {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  border: 2px solid #ececec;
}

.feedback-section .content-box .polits .active {
  border-color: #5138ee;
}

/* ====== News Section ====== */

.news-section {
  padding: 9.6rem 0;
}
.news-section .grid {
  gap: 3.2rem;
}

.news-section .titles-box {
  max-width: 80rem;
  margin: auto;
}

.news-content-box {
  /* position: relative; */
  border-radius: 2px;
  box-shadow: 1rem 0 6rem rgb(81 56 238 / 20%);
}

.data-box {
  padding: 0 2.4rem 2.4rem;
  border-bottom: 1px solid #e7e4fb;
  /* background-color: #f8f7fc; */
}

.author-box {
  /* text-align: center; */
  position: relative;
  top: -2.5rem;

  display: flex;
  gap: 1.2rem;
  align-items: center;
  margin: auto;
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 1rem 0 6rem rgb(81 56 238 / 20%);

  /* transform: translatey(-5rem); */
}

.authore-name {
  font-size: 1.6rem;
  color: #141125;
  text-transform: capitalize;
  cursor: pointer;
}

.authore-name:hover {
  color: #5138ee;
}

.date-comm-box {
  display: flex;
  gap: 1.2rem;
  /* text-align: center; */
}
.date-box,
.comment-box {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.4rem;
}
.date-icon,
.comm-icon {
  font-size: 1.6rem;
}
.date-text,
.comm-num {
  text-transform: capitalize;
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s;
}

.date-text:hover,
.comm-num:hover,
.news-title:hover {
  color: #5138ee;
}

.news-title {
  display: inline-block;
  font-size: 2rem;
  color: #141125;
  line-height: 1.6;
  transition: all 0.3s;
}
.news-description {
  font-size: 1.8rem;
}

.news-cta .reverse-wt-cta {
  padding: 2.4rem;
}

.news-section .cta-box .news-btn {
  background-color: #fff;
  color: #5138ee;
  border: 2px solid #5138ee;
  /* padding: 1.8rem 5.6rem; */
}

.news-section .cta-box .news-btn:hover {
  background-color: #5138ee;
  color: #fff;
}
.news-section .cta-box .news-btn i {
  margin-left: 10px;
}

/* ====== Help Section ====== */
.help-section {
  padding: 4.4rem 0 9.6rem 0;
}
.help-content-box {
  display: flex;
  gap: 6.4rem;
  align-items: center;
  justify-content: space-around;
  padding: 6.4rem 3.2rem;
  background-color: #5138ee;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.help-title {
  font-size: 3.4rem;
  font-weight: 600;
  letter-spacing: 1.1px;
  color: #fff;
  margin-bottom: 1.2rem;
}

.help-description {
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 0.8px;
}

/* .cta-box {
  display: flex;
  align-items: center;
} */

.cta-boxs {
  display: flex;
  gap: 3.2rem;
}
.cta-boxs .help-btn:first-child {
  border: 2px solid transparent;
  transition: all 0.5s;
}
.cta-boxs .help-btn:first-child:hover {
  border: 2px solid #fff;
}

.cta-boxs .help-btn:last-child {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  transition: all 0.5s;
}
.cta-boxs .help-btn:last-child:hover {
  background: #fff;
  color: #5138ee;
}

.help-content-box img:first-of-type {
  left: 3rem;
  animation: cta-dots 10s infinite linear;
}
.help-content-box img:nth-of-type(2) {
  animation: cta-circle 10s infinite linear;

  left: 47%;
  bottom: 2rem;
}

.help-content-box img:nth-of-type(3) {
  animation: cta-dots 10s infinite linear;

  right: 40rem;
  top: -8rem;
  z-index: -1;
}
